:root {
  --content-max-width: 1100px;
  --post-content-max-width: 700px;
  --gutter: 16px;
}

@media screen and (min-width: 401px) {
  :root { --gutter: 20px; }
}

@media screen and (min-width: 601px) {
  :root { --gutter: 24px; }
}

.icon {
  display: inline-block;
}

.align-center {
  text-align: center;
}

#filters {
  padding: 0 20px;
  margin-bottom: 40px;
}
#filters button,
#filters [role=button] {
  margin: 0 0 5px 0;
  padding: 0 10px;
  height: 33px;
  line-height: 33px;
  font-size: 12px;
  display: inline-block;
  width: initial;
  text-transform: uppercase;
}

[data-theme="dark"] .separator {
  border-bottom: 1px solid var(--muted-border-color);
}

[data-theme="light"] .separator {
  border-bottom: 1px solid #DDD;
}

blockquote p {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 0;
}

.share-links {
  display: flex;
}

.share-links a:not(:last-child) {
  margin-right: 8px;
}

.share-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  border: 1px solid black;
}
.share-links svg {
  display: inline-block;
  height: 16px;
  width: 16px;
}

#modal-consent {
  align-items: self-end;
}

dialog article {
  margin: 0;
}

dialog header,
dialog footer {
  padding-top: 12px;
  padding-bottom: 12px;
}

dialog header {
  margin-bottom: 8px;
}

dialog footer {
  margin-top: 8px;
}

dialog button {
  width: auto;
  display: inline-block;
  margin-bottom: 0;
}