<header id="main-menu">
  <div class="main-wrapper">
    <div class="upper-wrapper">
      <a class="logo" href="/" aria-label="Go to the home page">
        <svg class="logo-symbol" width="390" height="392" viewBox="0 0 390 392" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M194.987 392L188.91 391.848L183.133 391.644C187.054 391.88 191.007 392 194.987 392ZM182.702 391.617V228.056C182.702 225.531 182.205 223.03 181.239 220.697L147.211 138.464C144.863 132.79 136.882 133.905 135.672 139.345V324.122C135.672 327.479 132.951 330.2 129.594 330.2H52.8737C85.8214 365.44 131.595 388.423 182.702 391.617ZM35.1167 308.24C12.985 276.448 0 237.748 0 196C0 87.7522 87.2987 0 194.987 0C302.675 0 389.974 87.7522 389.974 196C389.974 237.913 376.887 276.753 354.595 308.616H283.111C279.978 308.616 277.399 306.246 277.069 303.201V95.2145C277.069 91.8579 274.348 89.1369 270.992 89.1369H240.198C237.693 89.1369 235.444 90.6744 234.535 93.0089L200.68 179.939C198.669 185.102 191.364 185.102 189.354 179.939L155.499 93.0089C154.589 90.6744 152.341 89.1369 149.835 89.1369H119.042C115.685 89.1369 112.964 91.8579 112.964 95.2145V114.46H112.822V302.163C112.822 305.519 110.101 308.24 106.744 308.24H35.1167ZM336.748 330.576H277.069V330.588L277.057 330.576H259.367C256.01 330.576 253.289 327.855 253.289 324.498V140.588C252.635 134.532 244.035 133.098 241.62 139.046L208.449 220.749C207.515 223.049 207.035 225.507 207.035 227.989V391.619L206.607 391.658C257.8 388.633 303.684 365.756 336.748 330.576ZM204.986 391.747H204.103L202.584 391.848H201.065L198.736 391.965C200.827 391.925 202.911 391.852 204.986 391.747Z" />
        </svg>             
        <h1 class="logo-wording">Wimbledon Concert Hall</h1>
      </a>
      <div class="right-controls">
        <div role="button" class="header-button theme-toggle" aria-label="Change Appearance">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 302.4 302.4" xml:space="preserve">
            <g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M204.8,97.6C191.2,84,172,75.2,151.2,75.2s-40,8.4-53.6,22.4c-13.6,13.6-22.4,32.8-22.4,53.6s8.8,40,22.4,53.6    c13.6,13.6,32.8,22.4,53.6,22.4s40-8.4,53.6-22.4c13.6-13.6,22.4-32.8,22.4-53.6S218.8,111.2,204.8,97.6z M190.4,190.4    c-10,10-24,16-39.2,16s-29.2-6-39.2-16s-16-24-16-39.2s6-29.2,16-39.2s24-16,39.2-16s29.2,6,39.2,16s16,24,16,39.2    S200.4,180.4,190.4,190.4z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M292,140.8h-30.8c-5.6,0-10.4,4.8-10.4,10.4c0,5.6,4.8,10.4,10.4,10.4H292c5.6,0,10.4-4.8,10.4-10.4    C302.4,145.6,297.6,140.8,292,140.8z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M151.2,250.8c-5.6,0-10.4,4.8-10.4,10.4V292c0,5.6,4.8,10.4,10.4,10.4c5.6,0,10.4-4.8,10.4-10.4v-30.8    C161.6,255.6,156.8,250.8,151.2,250.8z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M258,243.6l-22-22c-3.6-4-10.4-4-14.4,0s-4,10.4,0,14.4l22,22c4,4,10.4,4,14.4,0S262,247.6,258,243.6z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M151.2,0c-5.6,0-10.4,4.8-10.4,10.4v30.8c0,5.6,4.8,10.4,10.4,10.4c5.6,0,10.4-4.8,10.4-10.4V10.4    C161.6,4.8,156.8,0,151.2,0z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M258.4,44.4c-4-4-10.4-4-14.4,0l-22,22c-4,4-4,10.4,0,14.4c3.6,4,10.4,4,14.4,0l22-22C262.4,54.8,262.4,48.4,258.4,44.4z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M41.2,140.8H10.4c-5.6,0-10.4,4.8-10.4,10.4s4.4,10.4,10.4,10.4h30.8c5.6,0,10.4-4.8,10.4-10.4    C51.6,145.6,46.8,140.8,41.2,140.8z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M80.4,221.6c-3.6-4-10.4-4-14.4,0l-22,22c-4,4-4,10.4,0,14.4s10.4,4,14.4,0l22-22C84.4,232,84.4,225.6,80.4,221.6z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M80.4,66.4l-22-22c-4-4-10.4-4-14.4,0s-4,10.4,0,14.4l22,22c4,4,10.4,4,14.4,0S84.4,70.4,80.4,66.4z"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <button id="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div id="side-menu" class="main-wrapper inner-wrapper">
      <button id="close-side-menu">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 329.26933 329" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path xmlns="http://www.w3.org/2000/svg" d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path></g></svg>
      </button>
      <ul>
        <li><a href="/building">The Building</a></li>
        <li><a href="/wimbledon">Wimbledon &amp; Merton</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/donors">Donors</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>