<header id="header">
  <ul style="display: flex;">
    <li><a href="/">Home</a></li>
    <li>The Building
      <ul>
        <li><a href="/architect">Architect: Frank Gehry</a></li>
        <li><a href="/acoustics">Acoustics: Yasihisa Toyota</a></li>
      </ul>
    </li>
    <li>Wimbledon
      <ul>
        <li><a href="/site">The site</a></li>
        <li><a href="/cultural-base">The cultural base</a></li>
        <li><a href="/audience">Audience</a></li>
      </ul>
    </li>
    <li>Community
      <ul>
        <li><a href="/education">Education</a></li>
        <li><a href="/outreach">Outreach</a></li>
        <li><a href="/wider-implications">Wider implications</a></li>
        <li><a href="/support">Support</a></li>
      </ul>
    </li>
    <li>Donors
      <ul>
        <li><a href="/making-it-happen">Making it happen</a></li>
        <li><a href="/philantropic-opportunity">Philanthropic Opportunity</a></li>
        <li><a href="/cost-plan">Cost Plan</a></li>
      </ul>
    </li>
    <li><a href="/news">News</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</header>