<header id="main-menu">
  <div class="main-wrapper">
    <div class="upper-wrapper">
      <a class="logo" href="/" aria-label="Go to the home page">
        <svg class="logo-symbol" width="264" height="185" viewBox="0 0 264 185" xmlns="http://www.w3.org/2000/svg">
          <path d="M47 20.7608C56.9999 107.425 107.529 241.357 132.47 152.939C157.411 64.5201 169.137 92.9405 171.882 118.203C178.352 141.36 193.529 180.727 202.47 152.939C213.646 118.203 219.059 -19.6721 242 8.74808M47 20.7608L32 17.2609M47 20.7608L62 24.5C71.9999 111.164 119.214 241.357 144.155 152.939C169.097 64.5201 179.725 90.8353 182.47 116.098C188.94 139.255 206.236 180.727 215.177 152.939C226.353 118.203 237.059 -22.6594 260 5.76084L190.705 17.2609C167.764 -11.1594 178.352 118.203 167.176 152.939C158.235 180.727 143.058 141.36 136.588 118.203C133.843 92.9405 122.117 64.5201 97.1762 152.939C72.2351 241.357 12.9999 97.925 3 11.2609L17.5 14.3345M32 17.2609C41.9999 103.925 95.7644 241.357 120.705 152.939C145.646 64.5201 157.372 92.9405 160.117 118.203C166.588 141.36 181.764 180.727 190.705 152.939C201.882 118.203 201.174 -17.1594 224.115 11.2609M32 17.2609L17.5 14.3345M17.5 14.3345C27.4999 100.999 83.9998 241.357 108.941 152.939C133.882 64.5201 145.607 92.9405 148.352 118.203C154.823 141.36 169.999 180.727 178.94 152.939C190.117 118.203 184.059 -14.0857 207 14.3345" stroke-width="4"/>
          </svg>                      
        <h1 class="logo-wording">Wimbledon Concert Hall</h1>
      </a>
      <div class="right-controls">
        <div role="button" class="header-button theme-toggle" aria-label="Change Appearance">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 302.4 302.4" xml:space="preserve">
            <g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M204.8,97.6C191.2,84,172,75.2,151.2,75.2s-40,8.4-53.6,22.4c-13.6,13.6-22.4,32.8-22.4,53.6s8.8,40,22.4,53.6    c13.6,13.6,32.8,22.4,53.6,22.4s40-8.4,53.6-22.4c13.6-13.6,22.4-32.8,22.4-53.6S218.8,111.2,204.8,97.6z M190.4,190.4    c-10,10-24,16-39.2,16s-29.2-6-39.2-16s-16-24-16-39.2s6-29.2,16-39.2s24-16,39.2-16s29.2,6,39.2,16s16,24,16,39.2    S200.4,180.4,190.4,190.4z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M292,140.8h-30.8c-5.6,0-10.4,4.8-10.4,10.4c0,5.6,4.8,10.4,10.4,10.4H292c5.6,0,10.4-4.8,10.4-10.4    C302.4,145.6,297.6,140.8,292,140.8z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M151.2,250.8c-5.6,0-10.4,4.8-10.4,10.4V292c0,5.6,4.8,10.4,10.4,10.4c5.6,0,10.4-4.8,10.4-10.4v-30.8    C161.6,255.6,156.8,250.8,151.2,250.8z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M258,243.6l-22-22c-3.6-4-10.4-4-14.4,0s-4,10.4,0,14.4l22,22c4,4,10.4,4,14.4,0S262,247.6,258,243.6z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M151.2,0c-5.6,0-10.4,4.8-10.4,10.4v30.8c0,5.6,4.8,10.4,10.4,10.4c5.6,0,10.4-4.8,10.4-10.4V10.4    C161.6,4.8,156.8,0,151.2,0z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M258.4,44.4c-4-4-10.4-4-14.4,0l-22,22c-4,4-4,10.4,0,14.4c3.6,4,10.4,4,14.4,0l22-22C262.4,54.8,262.4,48.4,258.4,44.4z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M41.2,140.8H10.4c-5.6,0-10.4,4.8-10.4,10.4s4.4,10.4,10.4,10.4h30.8c5.6,0,10.4-4.8,10.4-10.4    C51.6,145.6,46.8,140.8,41.2,140.8z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M80.4,221.6c-3.6-4-10.4-4-14.4,0l-22,22c-4,4-4,10.4,0,14.4s10.4,4,14.4,0l22-22C84.4,232,84.4,225.6,80.4,221.6z"></path>
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M80.4,66.4l-22-22c-4-4-10.4-4-14.4,0s-4,10.4,0,14.4l22,22c4,4,10.4,4,14.4,0S84.4,70.4,80.4,66.4z"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <button id="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div id="side-menu" class="main-wrapper inner-wrapper">
      <button id="close-side-menu">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 329.26933 329" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path xmlns="http://www.w3.org/2000/svg" d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path></g></svg>
      </button>
      <ul>
        <li data-menu-item="building"><a href="/building">The Building</a></li>
        <li data-menu-item="wimbledon"><a href="/wimbledon">Wimbledon &amp; Merton</a></li>
        <li data-menu-item="community"><a href="/community">Community</a></li>
        <li data-menu-item="donors"><a href="/donors">Donors</a></li>
        <li data-menu-item="news"><a href="/news">News</a></li>
        <li data-menu-item="about"><a href="/about">About</a></li>
        <li data-menu-item="contact"><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>