<header id="header">
  <div class="main-wrapper">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/building">The Building</a></li>
      <li><a href="/wimbledon">Wimbledon &amp; Merton</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="/donors">Donors</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</header>